.regform{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.det{
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
button{
    width: 150px;

}